<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoWeb</title>
</head>
<body>
    <h2>Add todo</h2>
<div>
    <form>
        <p>
            Enter Todo name:
            <input id="name" placeholder="Name">
        </p>
        <p>
            Enter Todo Description:
            <input id="description" placeholder="Description">
        </p>
        <p>
            Enter Status:
            <input id="status" placeholder="Status">
        </p>
    </form>
    <p>
        <button id="addTodo">Add Todo</button>
    </p>
</div>
    <script src="/js/addTodo.js"></script>


</body>
</html>