<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoWeb</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>
<div>
    <p>
        Enter email
    </p>
    <form>
        <input id="email" placeholder="Email">
    </form>
    <p>
        Enter password
    </p>
    <form>
        <input id="password" type="password">
        <label class="switch">
            <input type="checkbox" onclick="showPassword()">
            <span class="slider round"></span>
        </label>
    </form>
    <button id="login">Login</button>
    <p id="result"></p>

    <script src="/js/login.js"></script>
</div>

</body>
</html>