<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoWeb</title>
</head>
<body>
<div>
    <a id="deleteAccount">Delete Account</a>
</div>

<script src="/js/myAccount.js"></script>
</body>
</html>