<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoWeb</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>
    <div>

        <form>
            Enter email
            <input id="email" placeholder="Email">
        </form>
        <form>
            Enter username
            <input id="username" placeholder="Username">
        </form>
        <form>
            Enter password
            <input id="password" type="password">
        </form>
        <label class="switch">
            <input type="checkbox" onclick="showPassword()">
            <span class="slider round"></span>
        </label>
        <p>
            <button id="button">Confirm</button>
        </p>
        <p id="result"></p>
        <button id="continue">Continue</button>

        <script src="/js/signUp.js"></script>
    </div>

</body>
</html>