<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoWeb</title>
</head>
<body>
<div>
    <h1>Welcome</h1>
    <div>
        <a href="/signUp">Sign up</a>
        <a href="/login">Log in</a>
    </div>
</div>

</body>
</html>