<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoWeb</title>
</head>
<body>
<div>
    <p>
        WELCOME
    </p>
    <div>
        <a id="myAccount">My Account</a>
        <a id="myTodos">My Todos</a>
        <a href="/">Logout</a>
    </div>
</div>
<script src="/js/welcome.js"></script>


</body>
</html>